[submodule "libraries/hump"]
	path = libraries/hump
	url = https://github.com/HDictus/hump.git
[submodule "libraries/json"]
	path = libraries/json
	url = https://github.com/rxi/json.lua.git
[submodule "libraries/cron"]
	path = libraries/cron
	url = https://github.com/kikito/cron.lua.git
[submodule "libraries/twitch"]
	path = libraries/twitch
	url = https://github.com/NEKERAFA/twitch.lua.git
[submodule "libraries/ini"]
	path = libraries/ini
	url = https://github.com/nobytesgiven/ini_parser.git
[submodule "libraries/mlib"]
	path = libraries/mlib
	url = https://github.com/davisdude/mlib.git
[submodule "libraries/push"]
	path = libraries/push
	url = https://github.com/Ulydev/push.git
